
{{#if addNewPost}}
<div id="new-post-form" class="well">
  <form>
    <div class="form-group">
      <label for="type">Title</label>
      {{input class="form-control" value=title id="title" placeholder="Snow Day"}}
    </div>
    <div  class="form-group">
      <label for="type">Teaser</label>
      {{input class="form-control" value=teaser id="teaser" placeholder="Incredible Snow on the Way!"}}
    </div>
    <div  class="form-group" class=".input-lg">
      <label for="type">Body</label>
      {{textarea class="form-control" value=body id="body" placeholder="Body Text"}}
    </div>
    <div  class="form-group">
      <label for="owner">Owner</label>
      {{input class="form-control" value=owner id="owner" placeholder="Author's Name"}}
    </div>
    <div  class="form-group">
      <label for="image">Image URL</label>
      {{input class="form-control" value=image id="image" placeholder="http://www.image.com"}}
    </div>
       <button class="btn btn-success"{{action 'savePost1'}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-success"{{action 'postFormShow'}}>New Post</button>

{{/if}}
